<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flower Detection</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="page">
     
      <span class="menu_toggle">
        <i class="menu_open fa fa-bars fa-lg"></i>
        <i class="menu_close fa fa-times fa-lg"></i>
      </span>
      <ul class="menu_items">
        <li>
          <a href="/graph"><i class="icon fa fa-signal fa-2x"></i>Graph</a>
        </li>
	     
      <main class="content">
        <div class="content_inner">
          <h1 class="title">
            <span
              ><strong>Iris Flower</strong>
          </h1>
          <form action="{{url_for('predict')}}" method="post">
            <input class="center-block" type="text" name="sepal_length" placeholder="Sepal Length (cm)" required="required" />
            <input class="center-block" type="text" name="sepal_width" placeholder="Sepal Width (cm)" required="required" />
		    <input class="center-block" type="text" name="petal_length" placeholder="Petal Length (cm)" required="required" />
		    <input class="center-block" type="text" name="petal_width" placeholder="Petal Width (cm)" required="required" />

            <section class="buttons">
                <div class="center-block container">
                  <button class="btn btn-3" type="submit">Predict</button>
                </div>
              </section>
            </form>
            <div class="arrow-style" style="font-family:'Fredericka the Great'; font-weight:bold;">
              
              <div style="font-family:'Fredericka the Great';"><h2>Prediction: {{ prediction_text }}</h2></div>
              </div>
              <br>
              <br>
            </div>
          </div>
        </div>
        

    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
